    .expertsignup {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }

    .expertsignup .div {
        background-color: #ffffff;
        height: 100vh;
        position: relative;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translate3d(0, 0, 0);
    }

    .expertsignup .frame-2 {
        background-color: #21cea1;
        border-radius: 50%;
        height: 20vw;
        position: fixed;
        bottom: -10%;
        right: -8%;
        width: 20vw;
    }

    .expertsignup .frame {
        background-color: #2b50ec;
        border-radius: 50%;
        height: 20vw;
        position: fixed;
        top: -15%;
        left: -10%; 
        width: 20vw;
        z-index: 0;
    }

    .expertsignup .frame-3 {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-sizing: border-box;
        width: 522px;
        margin: 50px auto; 
    }

    .expertsignup .frame-4 {
        height: 63px;
        position: relative;
        width: 522px;
    }

    .expertsignup .frame-5 {
        height: 27px;
        position: relative;
        width: 522px;
    }

    .expertsignup .frame-6 {
        height: 25px;
        position: relative;
        width: 522px;
    }

    .expertsignup .frame-7 {
        height: 80px;
        position: relative;
        width: 522px;
    }

    .expertsignup .text-wrapper {
    color: #000000;
    font-family: "ABeeZee-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 150px;
    line-height: normal;
    position: absolute;
    width: 223px;
    top: 50%; 
    transform: translateY(-50%); 
    }

    .expertsignup .image-container {
    height: 63px;
    width: 57px;
    background-image: url('./logo_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 88px;
    position: absolute;
    }

    .expertsignup .voogd {
        color: #000000;
        font-family: "ABeeZee-Italic", Helvetica;
        font-size: 24px;
        left: 0px;
        font-weight: 400;
        white-space: nowrap;
        width: 205px;
    }

    .expertsignup .voogd-container {
        width: 522px;
    }

    .expertsignup .user,
    .expertsignup .pass,
    .expertsignup .letters,
    .expertsignup .surname,
    .expertsignup .zip,
    .expertsignup .age,
    .expertsignup .mail,
    .expertsignup .phone,
    .expertsignup .approach,
    .expertsignup .sort,
    .expertsignup .type,
    .expertsignup .voorletters,
    .expertsignup .achternaam,
    .expertsignup .telefoonnummer,
    .expertsignup .email {
        background-color: #ffffff;
        font-size: 24px;
        border: 1px solid;
        border-color: #000000;
        border-radius: 5px;
        height: 44px;
        position: relative;
        width: 522px;
        padding-left: 10px;
        padding-right: 10px;
    }

     .expertsignup .boxes-container {
    display: flex;
    flex-direction: column;
    width: 522px;
    font-size: 24px;
    font-family: "ABeeZee-Regular", Helvetica;
    padding-top: 2px;
}

.expertsignup .box-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
}

.expertsignup .box-frame .content-container {
    display: flex;
    align-items: center;
}

.expertsignup .box-frame .dot {
    font-size: 18px;
    margin-right: 8px;
}

.expertsignup .box-frame .type-text {
    font-size: 18px;
}

.expertsignup .box-frame .delete-button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
}


    .expertsignup .checkbox {
        height: 27px;
        position: absolute;
        width: 27px;
    }

    .expertsignup .text-wrapper-4 {
        color: #000000;
        font-family: "ABeeZee-Regular", Helvetica;
        font-size: 24px;
        font-weight: 400;
        left: 39px;
        top: 3px;
        position: absolute;
        width: 483px;
    }

    .aanmeldingspagina .overlap-group {
        height: 22px;
        position: relative;
        top: -1px;
        width: 385px;
    }

    .expertsignup .text-wrapper-2 {
        color: #000000;
        font-family: "ABeeZee-Regular", Helvetica;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        white-space: nowrap;
        width: 270px;
        left: 5px;
    }

    .expertsignup .login {
        color: #2441dd;
        font-family: "ABeeZee-Regular", Helvetica;
        font-size: 24px;
        font-weight: 400;
        left: 255px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        white-space: nowrap;
        width: 124px;
    }

    .expertsignup .rectangle2 {
        background-color: #2b50ec;
        border: 1px solid;
        border-color: #000000;
        border-radius: 15px;
        height: 80px;
        left: 283px;
        position: relative;
        width: 239px;
        color: #ffffff;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "ABeeZee-Regular", Helvetica;
    }

    .expertsignup .rectangle2:hover,
    .expertsignup .rectangle2:active {
    background-color: #2c579f;
    cursor: pointer;
    }

    .expertsignup .rectangle2:active {
    background-color: #1e407d;
    }

    .expertsignup .login:hover,
    .expertsignup .login:active {
    color: #1e407d;
    cursor: pointer;
    }

    .expertsignup .login:active {
    color: #2c579f;
    }
